#pintitle{
  margin-top: 5px;
  margin-bottom: 2px;
}

#activity {
  position:relative;
  left:60%;
  right: 80px;
  bottom: 191px;
  margin-top: 47px;
}

#form {
  width: 250px;
  height:300px;
}

.place {
  width:140px;
  top:20%;
  left:12%;
  /*margin-top:12px;
  margin-bottom: 15px;*/
}

#memory {
  width: 250px;
  height: 80px;
  margin-bottom: 25px;
}

#rating {
  position:relative;
  left:0.5%;
  right: 80px;
  bottom: 200px;
  margin-top:100px;
}

#image {
  position:relative;
  left:0.5%;
  right: 80px;
  bottom: 120px;
  margin-top: 47px;
}

.deletePin{
  position: absolute;
  left:74%;
  top:89%;
}

.submit{
  position: absolute;
  left:5%;
  top:89%;
}
