.animal {
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#headers {
  text-align: center;
  font-size: 23px;
  position: absolute;
  top: 70%;
  left: 49%;
  transform: translate(-50%, -50%);
}
